@model dynamic

<main class="main-content">
    <header class="header">
        <div>
            <h1>@Model.Name is coming Soon!!</h1>
            <p class="text-gray-600">It will be done in the next update.</p>
        </div>
    </header>
</main>